body {
    margin: 0px;
}



.header {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #1f2937;
    box-sizing: border-box;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.header ul {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline;
}

.post-header {
    display: flex;
    background-color: #1f2937;
}

